/*
    Plik:               Header.scss
    Funkcja:            BANNER APLIKACJI - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './Header.scss' w pliku Header.js
*/

@import "../../containers/Main.scss";

// TOP BANNER - MAIN SETTINGS
.Banner {
    background-color: $color0;
    display: grid;
    //grid-template-columns: 390px 1fr 250px;
    grid-template-areas: 
                            'navbar'
                            'navc';
                            //'navbar navbar navbar'
                            //'navc navc navc';
                            //'logo sbar uinfo'
                            //'artnav artnav artnav';
    font-family: $font0;
    font-size: 1.0em;
}

.NavContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
                            'logo sbar uinfo'
                            'artnav artnav artnav';
}

// TOP BANNER - ROW 1

// Top banner / Top Navigation
.Navbar {
    justify-self: end;
    grid-area: navbar;
    font-size: 0.6em;
}

// Top banner / Top Navigation / list
.Navbar ul {
    margin-right: 10px;
    padding: 0;
    list-style-type: none;
}

// Top banner / Top Navigation / list item
.Navbar ul li {
    float: left;
    align-items: start;
}

// Top banner / Top Navigation / list item / link
.Navbar ul li a {
    color: $color1;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
}

// Top banner / Top Navigation / list item / link / active
.Navbar ul li a.active {
    color: $color3;
    background-color: $color1;
}

// Top banner / Top Navigation / list item / link / hover
.Navbar ul li a:hover {
    color: $color3;
    background-color: $color1;
}

// TOP BANNER - ROW 2

// Top banner / Logo
.Logo {
    width: auto;
    max-width: 390px;
    max-height: 60px;
    margin: 0px;
    padding-left: 10px;
    grid-area: logo; // grid area name
}

.LogoSmall {
    display: none;
}

// Top banner / Searching Bar
.SearchBar {
    grid-area: sbar; // grid area name
    display: flex;
    justify-self: center;
    align-self: center;
    height: 25px;
    width: 60%;
    //max-width: 500px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $color3;
    min-width: 100px;
}

// Top banner / Searching Bar / Input Field
.SearchBar input {
    padding-left: 5px;
    flex-grow: 1; // fill the rest of Searchbar (Searchbar - button)
    border: none;
    border-radius: 5px;
    min-width: 70px; // SearchBar 100 = input 70 + button 30
}

// Top banner / Searching Bar / Searching Button
.SearchBar button {
    border: none;
    color: $color2;
    background-color: transparent;
    width: 30px; // SearchBar 100 = input 70 + button 30
    height: 25px;
}

// Top banner / Searching Bar / Glass Icon
.glassicon {
    padding-top: 1px;
    width: 20px;
    opacity: 0.7;
}

// Top banner / User Zone (Log In + cart)
.UserZone {
    grid-area: uinfo; // grid area name
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    align-items: stretch;
    display: flex;
}

// Top Banner / User Zone / LogIn Button
.LogBtn {
    color: $color1;
    background-color: transparent;
    padding: 5px 7px;
    border: 1px solid $color1;
    border-radius: 3px;
    font-size: 0.9em;
    margin-right: 10px;
    align-items: center;
}

// Top Banner / User Zone / LogIn Button - hover
.LogBtn:hover {
    color: unset;
    background-color: $color2;
    border: solid 1px $color3;
} 

// TOP BANNER - ROW 3

// Top banner / Shop Navigation
.ArtNav {
    grid-area: artnav;
    justify-self: center;
    font-size: 1.1em;
    letter-spacing: 2px;
    //font-weight: 600;
}

.ArtNavSmall {
    display: none;
}

// Top banner / Shop Navigation / list
.ArtNav ul {
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

// Top banner / Shop Navigation / list item
.ArtNav ul li {
    float: left;
    margin: 0px;
    padding: 7px;
}

// Top banner / Shop Navigation / list item / link
.ArtNav ul li a {
    color: $color2;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
}

// Top banner / Shop Navigation / list item / link / active
.ArtNav ul li a.active {
    color: $color3;
    background-color: $color2;
    border: 1px solid $color3;
}

// Top banner / Shop Navigation / list item / link / hover
.ArtNav ul li a:hover {
    color: $color3;
    background-color: $color2;
}

.LoginW {
    position: absolute;
    right: 10px;
    top: 75px;
    opacity: 1;
    transition-duration: 0.5s;
    z-index: 1;
}

.hidden {
    opacity: 0;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 800px) {
    .SearchBar {
        //visibility: hidden;
    }

    .Logo {
        display: none;
    }

    .LogoSmall {
        display: block;
        max-height: 60px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .ArtNavSmall {
        display: inline-block;
        text-align: center;
        background-color: $color0;
        color: $color1;
    }    

    .ArtNavDropDown {
        height: 0px;
        z-index: 1;
        overflow-y: hidden;
        background-color: $color0;
        transition-duration: 0.5s;
    }

    .unroll {
        height: 100px;
        transition-duration: 0.5s;
    }

    .ArtNavDropDown ul {
        margin: 0;
        padding: 5px 0;
        list-style-type: none;
        letter-spacing: 2px;
    }

    .ArtNavDropDown ul li a {
        color: $color2;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 2px 0;
    }

    .ArtNavDropDown ul li a:hover {
        background-color: $color2;
        color: $color3;
    }

    .Navbar {
        display: none;
    }

    .ArtNav {
        display: none;
    }

    .DropdownArrow {
        color: $color2;
        font-size: 20px;
        transition-duration: 0.5s;
    }

    .dunroll {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
}

@media only screen and (max-width: 500px) {
    .SearchBar {
        display: none;
    }
}