/*
    Plik:               LoginSite.scss
    Funkcja:            STRONA Z FORMULARZEM REJESTRACYJNYM - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './Login.scss' w pliku Login.js
*/

@import '../Main.scss';

.LoginAuthWindow {
    background-color: $color2;
    padding: 15px;
    text-align: center;
    border: solid 2px $color0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    min-width: 300px;
}

.LoginAuthWindow input {
    color: $color0;
    border: solid 1px $color0;
    width: 70%;
    padding: 5px;
}

.LoginAuthWindow p {
    padding: 0;
}

.LoginAuthWindow button {
    //background-color: $color5;
    border: solid 1px $color0;
    border-radius: 5px;
    color: $color1;
    font-size: 0.9em;
    padding: 5px;
    width: 70%;
}

.LoginRegP {
    margin-top: 15px;
}

.LoginLogBtn {
    background-color: $color5;
}

.LoginLogBtn:hover {
    background-color: $color6;
}

.LoginRegBtnContainer {
    width: 100%;
}

.LoginRegBtn {
    background-color: $color7;
    margin-top: 10px;
}

.LoginRegBtn:hover {
    background-color: $color8;
}

.LoginErrInfo {
    //padding: 10px;
    color: maroon;
}

.separator {
    border: inset 0.5px $color0;
    display: block;
    width: 100%;
    //margin: 5px;
}