@import "../Main.scss";

.AccountData {
    display: flex;
    flex-direction: column;
    border: solid 2px $color0;
    border-radius: 5px;
    margin:10px;
    background-color: $color1;
    //padding: 10px;
}

.AccountNameContainer {
    color: $color1;
    background-color: $color5;
    //display: flex;
    padding: 10px;
}

.AccountName {
    display: flex;
}

.AccountName h1{
}

.AccountType {
    text-transform: uppercase;
    font-size: 1.2em;
    color: $color2;
    padding: 0;
    text-align: end;
}

.AccountInfo {
    //background-color: $color1;
    padding: 10px;
}

.AccountInfo p {
    padding: 5px;;
}

.AccountInfo h3 {
    margin: 0;
    padding: 5px;
}

.separator {
    border: solid 0.5px $color0;
}

.separator:last-of-type {
    margin: 5px 0 0 0;
}

.AccountPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.AccountPanel button {
    background-color: $color0;
    color: $color1;
    border: solid 1px $color0;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 5px;
    font-size: 0.9em;
}

.AccountPanel button:hover {
    background-color: $color2;
    color: $color0;
}

