@import "../Main.scss";

.AccountData {
    display: flex;
    flex-direction: column;
    border: solid 2px $color0;
    border-radius: 5px;
    margin:10px;
    background-color: $color1;
}

.AccountNameContainer {
    color: $color1;
    background-color: $color5;
    padding: 10px;
}

.AccountName {
    display: flex;
}

.AccountType {
    text-transform: uppercase;
    font-size: 1.2em;
    color: $color2;
    padding: 0;
    text-align: end;
}

.AccountInfo {
    padding: 10px;
}

.AccountInfo p {
    padding: 5px;;
}

.AccountInfo h3 {
    margin: 0;
    padding: 5px;
}

.AccountInfo label {
    min-width: 100px;
    display: inline-block;
}

.AccountInfo input {
    border: solid 1px $color4;
    padding: 5px;
    font-size: 1.0em;
}

.separator {
    border: solid 0.5px $color0;
}

.separator:last-of-type {
    margin: 5px 0 0 0;
}

.passseparator {
    border: solid 0.5px $color0;
    width: 100%;
    margin: 10px 0 0 0;
}

.AccountPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.AccountPanelBtn {
    background-color: $color0;
    color: $color1;
    border: solid 1px $color0;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 5px;
    font-size: 0.9em;
}

.AccountPanelBtn:hover {
    background-color: $color2;
    color: $color0;
}

.addressline {
    display: flex;
    flex-wrap: wrap;
}

.addressline label {
    font-size: 0.8em;
}

.addressline div {
    padding: 5px;
}

.addressno {
    width: 90px;
}

.zipcode {
    width: 30px;
}

.EAErrorInfo {
    color: $color10;
    text-align: center;
}

.EAErrorInfo p {
    padding: 0px;
}

.PassInfo {
    display: flex;
    justify-content: center;
}

.PassPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.PassPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.PassPanel h3 {
    text-align: center;
}

.PassPanel input {
    margin: 5px;
}

.PassError {
    text-align: center;
    color: $color10;
}

