@import '../Main.scss';

.RegIndividual {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 700px;
}

.RegMain {
    //display: flex;
    //justify-items: center;;
    //display: flex;
}

.RegMainContainer {
    //display: flex;
    //justify-content: center;
}

//.separator {
//    border: inset 0.5px $color0;
//}