/*
    Plik:               CartBtn.scss
    Funkcja:            PRZYCISK KOSZYKA W BANERZE APLIKACJI - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './CartBtn.scss' w pliku CartBtn.js
*/

@import "../../containers/Main.scss";

.CartBtn {
    color: $color3;
    background-color: $color2;
    border: solid 1px $color3;
    border-radius: 3px;
    padding: 5px;
    font-size: 1em;
    //font-weight: bold;
    align-items: center;
}

.carticon {
    height: 15px;
    margin-right: 4px;  
}