/*
    Plik:               SStationary.scss
    Funkcja:            SKLEP - ARTYKUŁY PIŚMIENNICZE - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './Login.scss' w pliku Login.js
*/