@import "../../containers/Main.scss";

.RemAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.RemConfirmBox {
    height: 100px;
    display: flex;
    align-items: center;
}

.RemConformBox span {
    align-self: center;
}

.RemConfirm {
    width: 25px;
    height: 25px;
    margin: 5px;
    border: solid 2px $color0;
    border-radius: 5px; 
} 

.remseparator {
    width: 100%;
    margin: 10px;
    border: solid 0.5px $color0;
}

.RemError {
    color: $color10;
}



