/*
    Plik:               App.scss
    Funkcja:            GŁÓWNY KOMPONENT APLIKACJI - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './App.scss' w pliku App.js
*/

@import './Main.scss';

// MAIN APPLICATION SETTINGS

.App {
}

.AppContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;          // minimum height of the whole page
}

.App, button {
    font-family: inherit;
}

h1, h4, p {
    margin: 0;
    padding: 10px;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

input {
    border-radius: 4px;
}

// APP PART 1 - HEADER

// Settings in the Header.scss file

// APP PART 2 - BODY

// BODY / Body style
.Bodystyle {
    //background-color: $color1;  // Background of the body components
    flex: 1 1 auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.SiteContainer {
    max-width: 1200px;
    width: 100%
}

.BackgroundImg {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

.MainProductBox {
    display: grid;
    justify-content: center;
}

// BODY / Displaying product cards in shop containers
// --- moved to ArtCard 

// APP PART 3 - FOOTER

// Footer