/*
    Plik:               App.scss
    Funkcja:            GŁÓWNY ARKUSZ ZE ZMIENNYMI PREPROCESORA SASS
    Opis:               Arkusz z definiowaniem styli projektu
    Przykład użycia:    import './Main.scss' w pliku App.js
                        @import "../../containers/Main.scss" w każdym pliku scss;
*/

@font-face {
    font-family: 'BS';
    src: url('../fonts/bahnschrift.ttf');
}

@font-face {
    font-family: 'GR';
    src: url('../fonts/Gidole-Regular.ttf');
}

@font-face {
    font-family: 'MN';
    src: url('../fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'GT';
    src: url('../fonts/Gotu-Regular.ttf');
}

@font-face {
    font-family: 'LoraBold';
    src: url('../fonts/Lora-Bold.ttf');
}

@font-face {
    font-family: 'LoraRegular';
    src: url('../fonts/Lora-Regular.ttf');
}

// FONTS

$font0: 'BS';
$font1: 'LoraBold';
$font2: 'LoraRegular';

* {                                                         
    font-family: $font0; // Default font for all objects
}

// COLORS

$color0: #333;      // color0
$color1: #ccc;      // color1
$color2: #D4AC0D;   // color2
$color3: #111;      // color3
$color4: #666;      // color4

// button color:
$color5: #060;
$color6: #040;
$color7: #37E;
$color8: #15C;

// warning color:
$color9: #F77;