.RegAccPersMain {
    padding: 10px;
}

.RegAccMainForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.RegAccPers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegAccPersData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.RegAccPersData div {
    margin: 5px;
}

.RegAccPers p {
    align-self: flex-start;
}

.RegAccMainForm h3 {
    text-align: center;
}