/*
    Plik:               Cart.scss
    Funkcja:            STRONA PODSUMOWANIA ZAKUPÓW - KOSZYK - ARKUSZ STYLI
    Opis:               N/A
    Przykład użycia:    import './Cart.scss' w pliku Cart.js
*/